<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Angular-UI-Switchery by liuwings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="app/bower_components/switchery/dist/switchery.css" media="screen">
    <script src="app/bower_components/angular/angular.js"></script>
    <script src="app/bower_components/angular-ui-switchery/dist/angular-ui-switch.js"></script>
    <script src="app/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="app/bower_components/jquery/dist/jquery.js"></script>
    <script src="app/bower_components/switchery/dist/switchery.js"></script>
    <script src="app/bower_components/transitionize/dist/transitionize.js"></script>
    <script src="app.js"></script>
</head>

<body ng-app="app">
<section class="page-header">
    <h1 class="project-name">Angular-UI-Switchery</h1>

    <h2 class="project-tagline"></h2>
    <a href="https://github.com/kylinno/angular-switch" class="btn">View on GitHub</a>
    <a href="https://github.com/kylinno/angular-switch/zipball/master" class="btn">Download .zip</a>
    <a href="https://github.com/kylinno/angular-switch/tarball/master" class="btn">Download .tar.gz</a>
</section>

<section class="main-content" ng-controller="MyController">

    <h4>Bower</h4>
    <pre><div class="tag">$ bower install angular-ui-switchery</div></pre>

    <h3>Usage</h3>
    <pre><div class="script"><div> angular.module("app", ['kylinno.switchery']);</div></div></pre>

    <h3>Demo</h3>
    <pre><div><div class="tag">&lt;<span class="specials">input</span> <span class="attribute">type=</span><span class="value">"checkbox"</span> <span class="attribute">ui-switch</span> ng-model="switchery" /&gt;</div></div></pre>
    <div class="checkbox-inline checkbox-ios">
        <p>Result:</p>
        <input type="checkbox" ui-switch ng-model="switchModel" id="checkbox-ios">
    </div>
    <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/kylinno/angular-ui-switch">Angular-UI-Switchery</a> is maintained by <a
                href="https://github.com/kylinno">liuwings</a>.</span>
    </footer>

</section>
</body>
</html>
